<!DOCTYPE html>
<html lang="en">
<head>
    <title>為你推薦新聞</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
{% include 'navbar.html' with title="為你推薦新聞"%}
<div id="main" style="font-family:'Microsoft JhengHei'">
<div class="container">


    <h1>新聞推薦與查詢系統</h1>
    <p>展示Doc2vec詞嵌入模型的應用</p>


    <div class="row" style="font-family: 'Microsoft JhengHei'; color: white">

        <!-- 關鍵字輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h3 class="h6 text-uppercase mb-0">新聞瀏覽</h3>
                </div>
                <div class="card-body" style="background-color: aliceblue;color: black">


                    <div class="form-group row">

                        <label class="col-sm-3 form-control-label">新聞類別</label>
                        <div class="col-md-9 select mb-3">
                            <select id="cat_select" name="news_category" class="form-control">
                                <option>請選擇</option>
                                <option>政治</option>
                                <option>科技</option>
                                <option>娛樂</option>
                                <option>運動</option>
                                <option>生活</option>
                                <option>產經</option>
                                <option>證卷</option>
                                <option>國際</option>
                                <option>社會</option>
                                <option>文化</option>
                                <option>最新</option>
                            </select>
                            <small class="form-text text-muted ml-3">請選擇新聞類別
                            </small>
                        </div>
                    </div>

                    <ul id="cat_news"></ul>

                </div>
            </div>
        </div><!-- 區塊結束-->


        <!-- 顯示區塊-->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h3 class="h6 text-uppercase mb-0">輸入多個關鍵字，推薦類似新聞</h3>
                </div>
                <div class="card-body" style="background-color: aliceblue;color: black">

                    <div class="input-group mb-3">
                        <input type="text" id="input_keywords" class="form-control" placeholder="輸入多個關鍵字組合(空白分隔)">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success" id="btn_get_sim_news">推薦</button>
                        </div>


                    </div>

                    <!-- 顯示類似新聞多篇-->
                    <ul id="similar_news"></ul>


                </div>
            </div>
        </div><!-- 區塊結束-->


        <!-- 關鍵字輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h3 class="h6 text-uppercase mb-0">新聞內容瀏覽</h3>
                </div>
                <div class="card-body" style="background-color: aliceblue;color: black">

                    <!-- 顯示被點選的某一篇新聞詳細內容-->
                    <ul id="news_content"></ul>

                </div>
            </div>
        </div><!-- 區塊結束-->


        <!-- 關鍵字輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h3 class="h6 text-uppercase mb-0">推薦與這一則新聞最相似的3篇新聞</h3>
                </div>
                <div class="card-body" style="background-color: aliceblue;color: black">

                    <!-- 顯示被點選的某一篇新聞的相關3篇新聞推薦-->
                    <ul id="related_news"></ul>

                </div>
            </div>
        </div><!-- 區塊結束-->

    </div>
</div>
</div>
</body>
</html>

<!-- java scrip通常寫在網頁最後面，等頁面初始化之後才會執行-->

<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>


<script>
    //document頁面 ready好之後，執行function()
    //這是jQuery的指令寫法  使用$或jQuery 都可以
    $(document).ready(function () {


        //>>新聞類別選單select被選中值有改變時，執行以下事件
        $('#cat_select').on('change', function () {
            //alert( this.value );//印出選中的是哪一類新聞
            //console.log($(this).val());

            cat = $(this).val();
            if (cat === '請選擇') return;

            //顯示內容之前，將新聞類別顯示區"cat_news"先清除之前的內容
            //方式1: 用jQuery的語法
            $('#cat_news').empty();

            //方式2: 用html的語法
            //var target_div = document.getElementById("cat_news");
            //target_div.innerHTML = '';

            // 以下是Ajax功能區
            $.ajax({
                type: "GET",
                url: "api_cat_news",  // 在瀏覽器中呼叫的url
                data: {"category": cat}, //傳給後端伺服器的資料
                success: function (received_data) { //呼叫url成功，取得資料，執行以下動作
                    var items = received_data['content']; //取得字典鍵值'content'的內容
                    //console.log(items);
                    // items 存放著5篇新聞資料 是list或陣列array格式
                    for (var i = 0; i < items.length; i++) {

                        //將內容加上li標籤附加起來，顯示在新聞類別顯示區"cat_news"

                        // 寫法1: 使用jQuery，事件由('#cat_select')按鈕事件監聽(寫在外面)
                        var paste = "<li><a class='btn_like_news' news_id=" + items[i].id + " href='#'>" + items[i].title + "</a></li>";
                        //console.log(paste);
                        $('#cat_news').append(paste);


                        // 寫法2: 按鈕中定義onclick()事件
                        //var paste = "<li><a class=\"btn_like_news\" news_id=" + items[i].id + " onClick=\"showNews(\'" + items[i].id + "\');\"  href='#'>" + items[i].title + "</a></li>";
                        //console.log(paste); 印出觀察產生的html標籤格式是否正確
                        //target_div.insertAdjacentHTML('beforeend',paste); //寫法2
                        //target_div += paste; //or $('#cat_news').append(paste);  //
                    }
                    // 把新聞內容瀏覽區域前一次舊資料先清除
                    //呼叫clear_news_content()
                    clear_news_content();
                } //success function
            }); //ajax

        }); //#cat_select觸發事件


        //** 先把關鍵字輸入欄位填入一組內定關鍵詞組
        $('#input_keywords').val("台北 台灣");

        //>>推薦按鈕按下驅動的事件
        $('#btn_get_sim_news').on('click', function () {


            var tokens_input = $('#input_keywords').val();
            //console.log(tokens_input);

            $.ajax({
                type: "POST",
                url: "api_keywords_similar_news",
                data: {
                    "tokens": tokens_input,
                    "csrfmiddlewaretoken": '{{ csrf_token }}', //採用POST必須要加上這一行!
                    //CSRF（Cross-site request forgery跨站請求偽造，是一種對網站的惡意利用。
                    // 也被稱為“one click attack”或者session riding
                }, //輸入關鍵字組傳給後端伺服器程式
                success: function (received_news) {

                    //顯示內容之前，將顯示區"similar_news"先清除之前的內容
                    $('#similar_news').empty();

                    var items = received_news['content'];

                    for (var i = 0; i < items.length; i++) {
                        //將內容加上li標籤附加起來
                        var paste = "<li><a class='btn_like_news' news_id=" + items[i].id + "  href='#'>" + items[i].title + " -->相似度:" + items[i].score + "</a></li>";
                        //console.log(paste);
                        $('#similar_news').append(paste);
                    }
                    // 把新聞內容瀏覽區域前一次舊資料先清除
                    clear_news_content();
                } //success function
            }); //ajax

        }); //btn_get_sim_docs


        //清空兩個顯示區
        clear_news_content = function () {
            var target = document.getElementById("news_content");
            var target_rel = document.getElementById("related_news");
            target.innerHTML = '';
            target_rel.innerHTML = '';
        };

        //>>按下某一篇新聞的連結，執行的動作
        //針對整個頁面的監聽事件，對於動態產生的element也能監聽到
        $(document).on('click', 'a.btn_like_news', function () {
            //console.log('選看這一篇新聞'); //先測試一下事件是否有被驅動
            newsid = $(this).attr('news_id');
            //console.log(newsid); //印出點選的是哪一篇新聞news_id
            //$(this).css('background','#d9f531');
            showNews(newsid); //顯示新聞內容，呼叫showNews()處理
        });

        //以下這種寫法不可，由於btn_like_news是動態產生的，這個事件無法被觸發!!
        $('.btn_like_news').click(function () {
            //alert("事件觸發");
        });


        //自訂顯示新聞內容的函數 onClick時觸發，呼叫此函數
        showNews = function (news_id) {

            clear_news_content();

            $.ajax(
                {
                    type: "GET",
                    url: "api_news_content",
                    data: {
                        news_id: news_id, //新聞編號傳給伺服器 以取得詳細新聞資訊
                    },
                    success: function (received_data) {


                        //顯示此篇新聞之詳細內容
                        //先拿到此篇新聞的詳細內容 dict格式
                        //var item = received_data['news_content']; //取得方式1
                        var item = received_data.news_content; //取得方式2

                        var display = $('#news_content'); //拿到顯示區的元素名稱
                        display.append("<li>類別:" + item.category + "</li>");
                        display.append("<p>標題:" + item.title + "</p>");
                        display.append("<p>" + item.content + "</p>");
                        display.append("<a  href=" + item.link + " target='_blank'>連結</a>");

                        //顯示與此篇新聞相關的新聞五篇 另種寫法也OK
                        // items 存放著5篇新聞資料 是list或陣列array格式
                        var items = received_data['related_news'];
                        var display_rel = document.getElementById("related_news");
                        for (var i = 0; i < items.length; i++) {
                            display_rel.innerHTML += "<li>" + items[i].category + "</li>";
                            display_rel.innerHTML += "<p>" + items[i].title + "</p>";
                            display_rel.innerHTML += "<p>相似度:" + items[i].score + "</p>";
                            display_rel.innerHTML += "<a  href=" + items[i].link + " target='_blank'>連結</a>";
                        }
                    }
                }); //ajax

        };//showNews function


        //自訂函數要這樣寫!
        //前面不加var表示是全域函數
        myfun = function () {
            alert("got you");
        }


    }); //document function

</script>
