<!DOCTYPE html>
<html lang="en">
<head>
    <title>文字雲生成</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<!--
<nav style="background-color: #174069; height: 60px; text-align: center">
        <h2 style="font-family: 'Microsoft JhengHei'; color: white;"><b>產生文字雲</b></h2>
</nav>
-->
{% include 'navbar.html' with title="文字雲生成"%}
<div id="main">
<div class="container">
<br>
    <div class="row">

        <!-- 關鍵字輸入column區塊   col-lg-6  內部是 card 區-->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h5><b style="font-family: 'Microsoft JhengHei'; color: white">分析內容</b></h5>
                </div>

                <div class="card-body" style="background-color: aliceblue">

                    <!--submit按鈕form group-->
                        <!-- {% csrf_token %} 如果用POST，必須要加上這行指令-->

                        <!--熱門詞多少個?form group-->
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" style="font-family: Microsoft JhengHei"><b>輸入文章：</b></label>
                            <div class="col-md-9">
                                <textarea id="content" rows="15" cols="40" placeholder="請在此輸入文章..." autofocus></textarea>
                            </div>
                        </div><!--form group-->

                        <!--熱門詞多少個?form group-->
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" style="font-family: Microsoft JhengHei"><b>多少個熱門詞：</b></label>
                            <div class="col-md-9">
                                <input id="topk_keys" name="topk" value="15"
                                       class="form-control form-control-success">
                                <small class="form-text text-muted ml-3">內定值為15
                                </small>
                            </div>
                        </div><!--form group-->

                        <!--submit按鈕form group-->
                        <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button type="button" class="btn btn-dark btn-block" id="btn_submit" style="font-family: 'Microsoft JhengHei">產生</button>
                            </div>
                        </div><!--form group-->

                </div> <!--card body-->
            </div><!--column-->
        </div><!-- 區塊結束-->


        <!-- wordcloudjs繪圖區塊-->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header" style="background-color: cornflowerblue">
                    <h5><b style="font-family: 'Microsoft JhengHei'; color: white">熱門關鍵字文字雲</b></h5>
                </div>
                <div class="card-body" style="background-color: aliceblue">
                    <canvas id="mychart"></canvas>
                </div>
            </div>
        </div><!-- 區塊結束-->


    </div> <!-- row結束-->
</div> <!-- container結束-->

</div>
</body>
</html>


<!-- java scrip通常寫在網頁最後面，等頁面初始化之後才會執行-->

<!-- wordcloud2 js -->
<script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>

<script>
    //頁面 ready好之後，執行function()
    //這是jQuery的指令寫法  使用$或jQuery 都可以
    $(document).ready(function () {
        $('#btn_submit').on('click', function () {
            var content = $('#content').val();
            var num = $('#topk_keys').val();
            console.log(content);

            $.ajax({
                type: "GET",
                url:"/api_get_cloud",
                data:{"content": content},
                success:function (received) {
                    var topwords = received.topwords;
                    showcloud(topwords, num)
                }
            });
        });
    }); //document ready


    function showcloud(topwords, num) {
        $('#mychart2').empty();

        console.log(topwords);
        var lists = [];
        if (num<=topwords.length){
            for (var j=0;j<num;j++){
            var tuple = [topwords[j][0], topwords[j][2]];
            lists.push(tuple);
            }
        }else{
            alert("超出熱門詞數量")
            return
        }



        var options = eval({
        "list": lists,
            "drawOutOfBound":false,
        "gridSize": 16, // size of the grid in pixels
        "weightFactor": 10, // number to multiply for size of each word in the list
        "fontWeight": 'bold', // 'normal', 'bold' or a callback
        "fontFamily": 'Microsoft JhengHei', // font to use
        "color": 'random-light', // 'random-dark' or 'random-light'
        "backgroundColor": '#000000', // the color of canvas
        "rotateRatio": 0.5 // probability for the word to rotate. 1 means always rotate
    });

    var canvas = document.getElementById('mychart');
    canvas.height = 250;
    canvas.width = 450;
    WordCloud(canvas, options);

    }
</script>
